<form action="/player" method="post">
    <label for="name">Nome:</label>
    <input type="text" name="name" id="name"><br />
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br />
    <label for="battletag">Battletag:</label>
    <input type="text" name="battletag" id="battletag"><br />
    <label for="facebook">Facebook:</label>
    <input type="text" name="facebook" id="facebook"><br />
    <label for="whatsapp">Whatsapp:</label>
    <input type="text" name="whatsapp" id="whatsapp"><br />
    <label for="whatsapp">Minibio:</label>
    <textarea name="minibio" id="minibio" cols="30" rows="10"></textarea><br />
    <button type="submit">Save</button>
</form>